@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono|Ubuntu+Mono|Cutive+Mono");

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");


* {
  margin: 0;
  padding: 0;
 }

body{
  background-color: oldlace;
  margin: auto;
  border: 5px solid ActiveCaption;
  width: 88%;
  border-radius: 20px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.8); 
  color:ActiveCaption; 
  padding: .5em .5em 0em 1em;   
  text-shadow:
      0 0 0.6em rgba(222, 184, 135, .5), 
      0 0 0.7em rgba(222, 184, 135, .4), 
      0 0 0.8em rgba(222, 184, 135, .3);   
  overflow-x: hidden; 
  transform: translateY(1em);   
 }

#animation {
  width: 100%;
  margin: 15% -2%;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, .9);
  position: relative;  
  height: 50vh; 
  text-rendering: optimizeSpeed;  
  
} 

#animation .image {
  position: absolute; 
  font-weight: bold;
  color: black;
  left: 0; 
  top: 0; 
  white-space: pre;   
} 

a.btnAzul
{
  position: absolute;
  display: block; 
  width: 170px; 
  height: 30px; 
  padding: 0 0 0 0; 
  margin: 0 auto; 
  background: #4682B4; 
  background: -moz-linear-gradient(top,
   #87CEEB 0%, 
   #4682B4 100%); 
  background: -webkit-gradient(linear,
   left top, 
   left bottom, 
   color-stop(0%,#87CEEB),
   color-stop(100%,#4682B4)); 
  box-shadow:
   inset 0px 0px 6px #fff; 
  -webkit-box-shadow: inset 0px 0px 6px #fff; 
  border: 1px solid #62C2F9; 
  border-radius: 10px; 
  font: bold 25px Helvetica, Sans-Serif; 
  text-align: center; 
  text-transform: uppercase; 
  text-decoration: none; 
  color: #3090C7; 
  text-shadow: 0px 1px 2px #62C2F9; 
  transform: translate(3em, -1.45em);
}

h1 {
  text-shadow:
      0 0 0.5em rgba(0, 191, 255, 1), 
      0 0 0.5em rgba(0, 191, 255, .8), 
      0 0 0.5em rgba(0, 191, 255, .4);    
  position: absolute;
  font-family: "Exo";
  font-size: 1.7em;
  color: white;
  transform: translate(2.6em, -16em)   
             skew(-15deg);
}
